* {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

i:hover {
    cursor: pointer;
}

.section, #tab_group {
    border-radius: 8px;
    box-shadow: 0px 0px 2px;
    padding: 4px;
    margin-bottom: 16px;
}

.section-primary {
    margin-bottom: 16px;
}

.section_head {
    padding-left: 12px;
    color: #2196F3;
    max-width: 100%;
}

.section-heading {
    font-weight: bold;
}

.section_head, .section_body, h4 {
    display: block;
}

.choiceLabel {
    color: #2196F3;
    margin-top: -8px;
    margin-bottom: 0;
}

.invalid-radio {
    color: #d50000 !important;
}

.form-loader {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.form-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #2196F3;
    border-radius: 50%;
    animation: form-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #2196F3 transparent transparent transparent;
}

.form-loader div:nth-child(1) {
    animation-delay: -0.45s;
}

.form-loader div:nth-child(2) {
    animation-delay: -0.3s;
}

.form-loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes form-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.autoform-button {
    padding: 0px 20px 0px 20px;
}

.autoforms-helperlink {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5)
}